@font-face {
  font-family: 'm6x11plus';
  src: url('../assets/fonts/m6x11plus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Andy Bold';
  src: url('../assets/fonts/AndyBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
